[submodule "shamrock-blockchain-gui"]
	path = shamrock-blockchain-gui
	url = https://github.com/Shamrock-Network/shamrock-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Shamrock-Network/mozilla-ca.git
        branch = main
